{% for difference in template_vars %}
BEFORE: {{ difference.before_header }}
{{ difference.before }}
AFTER: {{ difference.after_header }}
{{ difference.after }}
----------------------------------------------
{% endfor %}